<tr>
  <td>{{#click-to-edit editable=r.item.editable content=r field='content.count' placeholder='item count'}}{{r.count}}{{/click-to-edit}} of</td>
  <td>{{#click-to-edit editable=r.item.editable content=r field='content.name'}}{{r.name}}{{/click-to-edit}}</td>

  <td colspan="2">
    {{#unless readOnly}}{{#confirm-button action=(action 'removeRequirement') class='alert tiny button'}}{{fa-icon 'minus'}} Remove{{/confirm-button}}
    <button {{action 'showAddAlternative'}} class="button tiny">{{fa-icon 'plus'}} Alternative</button>
    {{#if r.missing}}<button {{action 'assignLot'}} class="button tiny">{{fa-icon 'plus'}} Assign parts</button>{{/if}}{{/unless}}
  </td>
</tr>
{{#each r.type as |type|}}
<tr>
  <td>&nbsp;</td>
  <td>{{fa-icon type.icon}} {{#link-to 'types.show' type}}{{type.name}}{{/link-to}} / {{type.vendor}}</td>
  <td>{{#each type.footprints as |fp|}}{{#link-to 'footprints.show' fp}}{{fp.name}}{{/link-to}} {{/each}}</td>

  <td>{{#unless readOnly}}{{#if r.typeCanBeRemoved}}<button class="button tiny alert" {{action 'removeAlternativePart' type}}>{{fa-icon 'times'}}</button>{{else}}&nbsp;{{/if}}{{/unless}}</td>
</tr>
{{/each}}
{{#each assignedLots as |lot|}}
  {{project-requirement-lot readOnly=readOnly lot=lot unassignLot="unassignLot" unsolderLot="unsolderLot" solderLot="solderLot"}}
{{/each}}
