<button class='small button' {{action 'startCamera'}}>{{fa-icon 'camera'}} Take picture with webcam</button>

<section id="camera" class="{{viewportClass}}">
        <section>
    {{yield}}
        </section>

<div id="cameraViewport" style="background-color: gray;"></div>

        {{#if uploading}}
        <section>Upload in progress..</section>
        {{/if}}

        <nav>
{{#if enabled}}
{{#if frozen}}
    <button {{action 'unpauseCamera'}}>{{fa-icon 'play'}} un-Pause</button>
    <button {{action 'cameraSnap'}}>{{fa-icon 'cloud-upload'}} Upload</button>
{{else}}
    <button {{action 'pauseCamera'}}>{{fa-icon 'pause'}} Pause</button>
{{/if}}
    <button {{action 'stopCamera'}}>{{fa-icon 'stop'}} Disable camera and exit</button>
{{/if}}
        </nav>

</section>