<div id="header-block">
    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
            <li class="name">
                <h1>{{#link-to 'index'}}shelves{{/link-to}}</h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-form">
                    <form {{action 'search' on='submit'}} class="row collapse">
                        <div class="large-8 small-9 columns">
                            {{input placeholder='Search terms' value=search required='required'}}
                        </div>
                        <div class="large-4 small-3 columns">
                            <button type="submit" class="alert button expand">Search</button>
                        </div>
                    </form>
                </li>
                <li class="has-dropdown">
                    {{#if session.isAuthenticated}}
                        <a href="#">{{fa-icon "user"}}</a>

                        <ul class="dropdown">
                            <li class="active">{{#link-to 'account'}}Account info{{/link-to}}</li>
                            <li>{{#view 'backup-link'}}Download backup{{/view}}</li>
                            <li><a href="#" {{ action 'invalidateSession' }}>Logout</a></li>
                        </ul>
                    {{else}}
                        <a href="#"><span style="color: gray;">{{fa-icon "user"}}</span></a>
                    {{/if}}
                </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li>
                    {{#link-to 'groups.index' class='item'}}
                    {{fa-icon "database"}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'boxes.index' class='item'}}
                    {{fa-icon "cube"}}
                    {{/link-to}}
                </li>
                <li>&nbsp;</li>
                <li>
                    {{#link-to 'footprints.index' class='item'}}
                    {{fa-icon "file-o"}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'types' class='item'}}
                    {{fa-icon "book"}}
                    {{/link-to}}
                </li>
                <li>&nbsp;</li>
                <li>
                    {{#link-to 'projects.index' class='item'}}
                    {{fa-icon "flask"}}
                    {{/link-to}}
                </li>
                <li>&nbsp;</li>
                <li>
                    {{#link-to 'sources' class='item'}}
                    {{fa-icon "truck"}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'transactions' class='item'}}
                    {{fa-icon "shopping-cart"}}
                    {{/link-to}}
                </li>
                <li>&nbsp;</li>
                <li>
                    {{#link-to 'stickers' class='item'}}
                        {{fa-icon "qrcode"}} {{view.stickerCount}}
                    {{/link-to}}
                </li>
                <li>&nbsp;</li>
                <li>
                    {{#link-to 'units' class='item'}}
                    {{fa-icon "arrows"}}
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'properties' class='item'}}
                    {{fa-icon "bar-chart"}}
                    {{/link-to}}
                </li>
            </ul>
        </section>
    </nav>
</div>
