{{partial '_itemheader'}}

<div class="row">
    <section class="columns large-6 small-12">
    <h3>URL</h3>
    {{#click-to-edit content=model field='content.url'}}<a href="{{model.url}}">{{model.url}}</a>{{/click-to-edit}}
    </section>
</div>

{{outlet}}

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
</nav>