{{#if isDelivering}}
<div class="row collapse">
    <div class="small-1 columns">
        {{input value=count}}
    </div>
    <div class="small-10 columns">
        {{ember-selectize
        content=sortedBoxes
        optionValuePath="content.id"
        optionLabelPath="content.fullName"
        selection=location
        sort="content.fullName"
        maxItems=1
        placeholder="Select a location" }}
    </div>
    <div class="small-1 columns">
        <button {{action 'delivered'}} class='postfix' disabled={{buttonDisabled}}>{{fa-icon 'truck'}}</button>
    </div>
</div>
{{/if}}
{{#if canDeliver}}
<button {{action 'startDelivery'}}>Delivered</button>
{{/if}}
{{#if fullyDelivered}}
{{fa-icon 'check-square-o'}} {{purchase.delivered}}
{{/if}}

