<form {{action 'download' on='submit'}}>
<div class="row collapse">
    <div class="small-10 columns">
        {{input type="text" placeholder="Please enter the url to download" value=url}}
    </div>
    <div class="small-2 columns">
        <button type="submit" class="button postfix" disabled="{{disabled}}">{{fa-icon 'cloud-download'}} Download</button>
    </div>
</div>
</form>
{{yield}}
