{{#if incompleteForm}}
    <h2 class="placeholder">Please fill in the name</h2>
{{else}}
    <h2>{{model.name}}</h2>
{{/if}}

<form {{action 'save' model on='submit'}}>
    <h3>Name</h3>
    {{input type='text' value=model.name required="required" placeholder='name'}}

    <p class="placeholder">The name argument is mandatory. All others are optional. Everything can be changed later if needed.</p>

    <h3>Manufacturer or vendor</h3>
    {{input type='text' value=model.vendor placeholder='vendor'}}

    <h3>Footprints</h3>
    {{ember-selectize
    content=sortedFootprints
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=model.footprints
    multiple=true
    create-item='createEmptyFootprint'
    placeholder="Select a footprint" }}

    <h3>Description</h3>
    {{textarea type='text' value=model.description placeholder='description'}}

    <h3>Groups</h3>
    {{ember-selectize
    content=sortedGroups
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=model.groups
    multiple=true
    sort="content.fullName"
    create-item='createEmptyGroup'
    placeholder="Select groups" }}

    <button {{bind-attr disabled=incompleteForm}} type="submit">Save</button>
</form>

{{outlet}}
