<h2>{{model.name}}</h2>

<form {{action 'save' model on='submit'}}>
    <h3>Name</h3>
    {{input type='text' value=model.name placeholder='name'}}

    <h3>Vendor</h3>
    {{input type='text' value=model.vendor placeholder='vendor'}}

    <h3>Footprint</h3>
    {{ember-selectize
    content=sortedFootprints
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=model.footprint
    placeholder="Select a footprint" }}

    <h3>Description</h3>
    {{textarea type='text' value=model.description placeholder='description'}}

    <h3>Groups</h3>
    {{ember-selectize
    content=sortedGroups
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=model.groups
    multiple=true
    sort="content.fullName"
    placeholder="Select groups" }}

    <button type="submit">Save</button>
</form>

{{outlet}}
