{{partial '_itemheader'}}

<div class="row">
<section class="meta columns large-6">

<h3>Vendor</h3>

{{#click-to-edit content=model field='content.vendor'}}{{model.vendor}}{{/click-to-edit}}

<h3>Footprints</h3>

<ul>
{{#each fp in model.footprints}}
    <li>
        {{#link-to 'footprints.show' fp}}{{fp.name}}{{/link-to}}
        {{#confirm-button class='button remove' action='removeFootprint' param=fp}}{{fa-icon 'times'}}{{/confirm-button}}
    </li>
{{/each}}
</ul>

{{#if displayAddFootprint}}
    {{ember-selectize
    content=sortedFootprints
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=footprintToAdd
    multiple=true
    create='createEmptyFootprint'
    placeholder="Select a footprint" }}

    <button {{action 'addFootprint' footprintToAdd}} class="button primary">{{fa-icon 'plus'}} Add footprint(s)</button>
    <button {{action 'hideAddFootprint'}} class="button secondary">Hide</button>
{{else}}
    <button {{action 'showAddFootprint'}} class="button secondary">{{fa-icon 'plus'}} Add footprint(s)</button>
{{/if}}
    
<h3>Additional properties</h3>

<table>
    {{#each property in model.properties}}
        <tr>
            <td>{{property.name}}</td>
            <td>{{property-value entity=model property=property}}</td>
            <td width="5ex">{{#confirm-button class='button remove' action='removeProperty' param=model param2=property}}{{fa-icon 'times'}}{{/confirm-button}}</td>
        </tr>
    {{/each}}
</table>

{{#if propertyAddingAllowed}}
<h3>Add property</h3>

{{ember-selectize
content=sortedProperties
optionValuePath="content.id"
optionLabelPath="content.niceName"
selection=propertyToAdd
maxItems=1
placeholder="Select a property" }}

{{input type='text' value=propertyValueToAdd placeholder='Enter value'}}

{{ember-selectize
content=sortedUnitPrefixes
optionValuePath="content.id"
optionLabelPath="content.niceName"
selection=propertyValuePrefixToAdd
maxItems=1
placeholder="Select an SI prefix" }}

<button class='small button' {{bind-attr disabled=addPropertyIncomplete}} {{action 'addProperty' model propertyToAdd propertyValueToAdd propertyValuePrefixToAdd}}>{{fa-icon 'plus'}} Add</button>
<button class='small button' {{action 'disableAddProperty'}} style="secondary button">{{fa-icon 'times'}} Cancel</button>
{{else}}
    <button class='small button' {{action 'enableAddProperty'}}>{{fa-icon 'plus'}} Add</button>
{{/if}}
</section>

<section class="list columns large-6">
<h3>Groups</h3>

<ul>
    {{#each group in model.groups}}
        <li>
            {{#link-to 'groups.show' group}}{{fa-icon 'box'}} {{group.fullName}}{{/link-to}}
            {{#confirm-button class='button remove' action='removeGroup' param=group}}{{fa-icon 'times'}}{{/confirm-button}}
        </li>
    {{/each}}
</ul>

{{#if displayAddGroup}}
    {{ember-selectize
    content=sortedGroups
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=groupToAdd
    multiple=true
    create='createEmptyGroup'
    placeholder="Select a type" }}

    <button {{action 'addGroup' groupToAdd}} class="button primary">{{fa-icon 'plus'}} Add group(s)</button>
    <button {{action 'hideAddGroup'}} class="button secondary">Hide</button>
{{else}}
    <button {{action 'showAddGroup'}} class="button secondary">{{fa-icon 'plus'}} Add group(s)</button>
{{/if}}

<h3>See also</h3>

<ul>
    {{#each type in model.seeAlso}}
        <li>{{#link-to 'types.show' type}}{{fa-icon 'book'}} {{type.fullName}}{{/link-to}} {{#confirm-button class='remove' action='removeSeeAlso' param=type}}{{fa-icon 'times'}}{{/confirm-button}}</li>
    {{/each}}
</ul>

{{#if displayAddSeeAlso}}
    {{ember-selectize
    content=sortedTypes
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=seeAlsoTypeToAdd
    maxItems=1
    placeholder="Select a type" }}

    <button {{action 'addSeeAlso' seeAlsoTypeToAdd}} class="button primary">{{fa-icon 'plus'}} Add see also link</button>
    <button {{action 'hideAddSeeAlso'}} class="button secondary">Hide</button>
{{else}}
<button {{action 'showAddSeeAlso'}} class="button secondary">{{fa-icon 'plus'}} Add see also link</button>
{{/if}}

<h3>Available lots</h3>
<table>
    <thead>
    <tr>
        <th>Source</th>
        <th colspan="4">Box / Project</th>
    </tr>
    <tr>
        <th>SKU</th>
        <th>Cnt.</th>
        <th>Price</th>
        <th>w/ Vat</th>
        <th>Vat %</th>
    </tr>
    </thead>
    {{#each lot in model.lots}}
    <tbody>
    <tr>
        <td>
            {{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.source.name}}{{/link-to}}
        </td>
        <td colspan="4">
            {{#if lot.canBeAssigned}}
            {{fa-icon 'cube'}} {{#link-to 'boxes.show' lot.location}}{{lot.location.fullName}}{{/link-to}}
            {{/if}}
            {{#if lot.canBeSoldered}}
            {{fa-icon 'flask'}} {{#link-to 'projects.show' lot.usedBy.project}}{{lot.usedBy.project.name}}{{/link-to}}
            {{/if}}
            {{#if lot.canBeUnsoldered}}
            {{fa-icon 'check-square'}} {{#link-to 'projects.show' lot.usedBy.project}}{{lot.usedBy.project.name}}{{/link-to}}
            {{/if}}
        </td>
    </tr>
    <tr>
        <td class="sku">
            {{lot.purchase.sku}}
        </td>
        <td class="count">
            {{lot.count}}
        </td>
        <td class="price">
            {{lot.purchase.priceWithoutVat}}
        </td>
        <td class="vat-included">
            {{lot.purchase.priceWithVat}}
        </td>
        <td class="vat">
            {{lot.purchase.vat}}
        </td>
    </tr>
    </tbody>
    {{/each}}
</table>
</section>
</div>

<button class='qr-button' {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>