<h2>{{name}}</h2>

<h3>Footprint</h3>

{{#link-to 'footprints.show' footprint}}{{footprint.name}}{{/link-to}}

<h3>Available lots</h3>
<table>
    <thead>
    <tr>
        <th>Source</th>
        <th colspan="4">Box</th>
    </tr>
    <tr>
        <th>SKU</th>
        <th>Cnt.</th>
        <th>Price</th>
        <th>w/ Vat</th>
        <th>Vat %</th>
    </tr>
    </thead>
    {{#each lot in lots}}
    <tbody>
    <tr>
        <td>
            {{#link-to 'purchase.show' lot.purchase.transaction}}{{lot.purchase.transaction.source.name}}{{/link-to}}
        </td>
        <td colspan="4">
            {{#link-to 'boxes.show' lot.location}}{{lot.location.fullName}}{{/link-to}}
        </td>
    </tr>
    <tr>
        <td class="sku">
            {{lot.purchase.sku}}
        </td>
        <td class="count">
            {{lot.count}}
        </td>
        <td class="price">
            {{lot.purchase.priceWithoutVat}}
        </td>
        <td class="vat-included">
            {{lot.purchase.priceWithVat}}
        </td>
        <td class="vat">
            {{lot.purchase.vat}}
        </td>
    </tr>
    </tbody>
    {{/each}}
</table>