{{partial '_itemheader'}}

<h3>Vendor</h3>

{{#click-to-edit content=model field='content.vendor'}}{{model.vendor}}{{/click-to-edit}}

<h3>Additional properties</h3>

<table>
    {{#each property in model.properties}}
        <tr>
            <td>{{property.name}}</td>
            <td>{{property-value entity=model property=property}}</td>
            <td>{{#confirm-button class='button remove' action='removeProperty' param=model param2=property.model}}{{fa-icon 'times'}}{{/confirm-button}}</td>
        </tr>
    {{/each}}
</table>

{{#if propertyAddingAllowed}}
<h3>Add property</h3>

{{ember-selectize
content=sortedProperties
optionValuePath="content.id"
optionLabelPath="content.niceName"
selection=propertyToAdd
placeholder="Select a property" }}

{{input type='text' value=propertyValueToAdd placeholder='Enter value'}}

{{ember-selectize
content=sortedUnitPrefixes
optionValuePath="content.id"
optionLabelPath="content.niceName"
selection=propertyValuePrefixToAdd
placeholder="Select an ISO prefix" }}

<button {{bind-attr disabled=addPropertyIncomplete}} {{action 'addProperty' model propertyToAdd propertyValueToAdd propertyValuePrefixToAdd}}>{{fa-icon 'plus'}} Add</button>
<button {{action 'disableAddProperty'}} style="secondary button">{{fa-icon 'times'}} Cancel</button>
{{else}}
    <button {{action 'enableAddProperty'}}>{{fa-icon 'plus'}} Add</button>
{{/if}}

<h3>Available lots</h3>
<table>
    <thead>
    <tr>
        <th>Source</th>
        <th colspan="4">Box / Project</th>
    </tr>
    <tr>
        <th>SKU</th>
        <th>Cnt.</th>
        <th>Price</th>
        <th>w/ Vat</th>
        <th>Vat %</th>
    </tr>
    </thead>
    {{#each lot in model.lots}}
    <tbody>
    <tr>
        <td>
            {{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.source.name}}{{/link-to}}
        </td>
        <td colspan="4">
            {{#if lot.canBeAssigned}}
            {{fa-icon 'cube'}} {{#link-to 'boxes.show' lot.location}}{{lot.location.fullName}}{{/link-to}}
            {{/if}}
            {{#if lot.canBeSoldered}}
            {{fa-icon 'flask'}} {{#link-to 'projects.show' lot.usedBy.project}}{{lot.usedBy.project.name}}{{/link-to}}
            {{/if}}
            {{#if lot.canBeUnsoldered}}
            {{fa-icon 'download-alt'}} {{#link-to 'projects.show' lot.usedBy.project}}{{lot.usedBy.project.name}}{{/link-to}}
            {{/if}}
        </td>
    </tr>
    <tr>
        <td class="sku">
            {{lot.purchase.sku}}
        </td>
        <td class="count">
            {{lot.count}}
        </td>
        <td class="price">
            {{lot.purchase.priceWithoutVat}}
        </td>
        <td class="vat-included">
            {{lot.purchase.priceWithVat}}
        </td>
        <td class="vat">
            {{lot.purchase.vat}}
        </td>
    </tr>
    </tbody>
    {{/each}}
</table>

<button {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>