<h2>Type / Project {{model.serials}}</h2>
{{entity-header model=model.purchase.type}}

<h3>Required parts</h3>
<table>
{{#each displayRequirements as |r|}}
  {{project-requirement r=r
    solderLot="solderLot" unsolderLot="unsolderLot" unassignLot="unassignLot" assignLot="assignLot"
    showAddAlternative="showAddAlternative" removeRequirement="removeRequirement"
    removeAlternativePart="removeAlternativePart"}}
{{/each}}
</table>

<ul class="button-group round">
    <li><button {{action 'toggleAddRequirement'}} class="{{addRequirementClass}}">Add requirement</button></li>
    {{#if importableDocumentPresent}}<li><button {{action 'toggleImportRequirements'}} class="{{importRequirementsClass}}">Import requirements</button></li>{{/if}}
</ul>

<h3>History</h3>

<table>
  {{#each history as |lot|}}
  <tr>
    <td>{{lot.created}}</td>
    <td>{{lot.action}}</td>
    <td>{{lot.location.fullName}}</td>
    <td>{{lot.usedBy.project.name}}</td>
    <td>{{lot.performedBy.name}}</td>
  </tr>
  {{/each}}
</table>

{{#if showAddRequirement}}
<section>
<h3>Add requirement</h3>
<form class="row" {{action 'addRequirement' model requiredType requiredCount on='submit'}}>
        <div class="large-8 columns">
{{ember-selectize
content=sortedTypes
optionValuePath="content.id"
optionLabelPath="content.fullName"
selection=requiredType
sort="content.fullName"
maxItems=1
required=true
placeholder="Select a type" }}
        </div>
        <div class="large-3 columns">
{{input type='text' value=requiredCount}}
        </div>
    <button type="submit" class="large-1 columns">Add</button>
</form>
</section>
{{/if}}

{{#if showImportRequirements}}
<section>
<h3>Import requirements from schematics</h3>

<form class="row" {{action 'importRequirements' importFromDocument on='submit'}}>
    <div class="large-11 columns">
    {{ember-selectize
    content=importableDocuments
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=importFromDocument
    sort="content.name"
    maxItems=1
    required=true
    placeholder="Select a file to import parts from" }}
    </div>
<button type="submit" class="large-1 columns">Import</button>
</form>
</section>
{{/if}}

{{outlet}}

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
    <button class='qr-button' {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>
</nav>

{{#modal-dialog condition=showAlternativeDialog title="Add alternative"}}
    <form {{action 'addAlternativePart' lastRequirement alternativeType on='submit'}}>

    {{ember-selectize
    content=sortedTypes
    loading=sortedTypes.isPending
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=alternativeType
    sort="content.fullName"
    maxItems=1
    required=true
    placeholder="Select a type" }}

    <button type="submit">{{fa-icon 'plus'}} Add</button>
    </form>
{{/modal-dialog}}


{{#modal-dialog condition=assignLotToRequirement title="Add lot"}}
    <table>
    {{#each assignableLots as |lot|}}
        <tr>
            <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.date}}{{/link-to}}</td>
            <td>{{lot.purchase.transaction.source.name}}</td>
            <td>{{lot.count}}</td>
            <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
            <td>{{lot.type.vendor}}</td>
            <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
            <td>{{#link-to 'lots.show' lot}}[history]{{/link-to}}</td>
            <td>{{#add-count-button action='performAssignment' param=assignLotToRequirement param2=lot default=assignLotToRequirement.missing}}assign{{/add-count-button}}</td>
        </tr>
    {{/each}}
    </table>
{{/modal-dialog}}
