
  <h3>
    {{#link-to target model}}{{model.name}} ({{model.count}}){{/link-to}}
    <span class="hover-actions">
      <a {{action 'add' model}}>{{fa-icon 'plus'}}</a>
    </span>
  </h3>

  <ul>
    {{#each sorted as |i|}}
    <li>
      {{#link-to target i}}{{i.name}} ({{i.count}}){{/link-to}}
      <span class="hover-actions">
        <a {{action 'add' i}}>{{fa-icon 'plus'}}</a>
      </span>
    </li>
    {{/each}}
  </ul>