<h2>
  {{fa-icon 'flask'}} {{#link-to 'types.show' model.type}}{{model.type.name}}{{/link-to}} /
  {{#click-to-edit content=model field='content.serial' placeholder='place for serial number or name'}}{{model.serial}}{{/click-to-edit}}
</h2>

<h3>Project</h3>

<div class="row">
  <div class="columns large-6">
    <dl>
      <dt>{{#link-to 'types.show' model.type}}{{model.type.name}}{{/link-to}}</dt>
      <dd>{{markdown-to-html markdown=model.type.summary headerLevelStart=4 tables=true strikethrough=true tasklists=true literalMidWordUnderscores=true}}</dd>
    </dl>

    <p>{{markdown-to-html markdown=model.type.description headerLevelStart=4 tables=true strikethrough=true tasklists=true literalMidWordUnderscores=true}}</p>
  </div>
  <div class="columns large-6">
    <table>
      {{#each model.type.describedBy as |doc|}}
      {{doc-summary-line deleteDocument="deleteDocument" doc=doc}}
      {{/each}}
    </table>
  </div>
</div>

<h3>Status</h3>

<ul class="button-group round">
{{#if model.finished}}
<li><button class="small" {{action 'reopen' model}}>Reopen</button></li>
{{else}}
<li><button class="small" {{action 'finish' model}}>Finish</button></li>
<li><button {{action 'toggleAddRequirement'}} class="small {{addRequirementClass}}">Add requirement</button></li>
{{#if importableDocumentPresent}}<li><button {{action 'toggleImportRequirements'}} class="small {{importRequirementsClass}}">Import requirements</button></li>{{/if}}
{{/if}}
<li><button class="small" {{action 'addSticker' model}}>Add to sticker list</button></li>
<li><button class="small" {{action 'showBarcode' model}}>Show barcode</button></li>
{{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button small'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
</ul>

<h3>Required parts</h3>
<table>
{{#each displayRequirements as |r|}}
  {{project-requirement readOnly=r.item.finished r=r
    solderLot="solderLot" unsolderLot="unsolderLot" unassignLot="unassignLot" assignLot="assignLot"
    showAddAlternative="showAddAlternative" removeRequirement="removeRequirement"
    removeAlternativePart="removeAlternativePart"}}
{{/each}}
</table>

<h3>History</h3>

<table>
{{lot-history model=model.history}}
</table>

{{#modal-dialog title="Add requirement" condition=showAddRequirement}}
<section>
<form class="row" {{action 'addRequirement' model requiredType requiredCount on='submit'}}>
        <div class="large-8 columns">
{{ember-selectize
content=sortedTypes
optionValuePath="content.id"
optionLabelPath="content.fullName"
selection=requiredType
sort="content.fullName"
maxItems=1
required=true
placeholder="Select a type" }}
        </div>
        <div class="large-3 columns">
{{input type='text' value=requiredCount}}
        </div>
    <button type="submit" class="large-1 columns">Add</button>
</form>
</section>
{{/modal-dialog}}

{{#if showImportRequirements}}
<section>
<h3>Import requirements from schematics</h3>

<form class="row" {{action 'importRequirements' importFromDocument on='submit'}}>
    <div class="large-11 columns">
    {{ember-selectize
    content=importableDocuments
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=importFromDocument
    sort="content.name"
    maxItems=1
    required=true
    placeholder="Select a file to import parts from" }}
    </div>
<button type="submit" class="large-1 columns">Import</button>
</form>
</section>
{{/if}}

{{outlet}}

{{#modal-dialog condition=showAlternativeDialog title="Add alternative"}}
    <form {{action 'addAlternativePart' lastRequirement alternativeType on='submit'}}>

    {{ember-selectize
    content=sortedTypes
    loading=sortedTypes.isPending
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=alternativeType
    sort="content.fullName"
    maxItems=1
    required=true
    placeholder="Select a type" }}

    <button type="submit">{{fa-icon 'plus'}} Add</button>
    </form>
{{/modal-dialog}}


{{#modal-dialog condition=assignLotToRequirement title="Add lot"}}
    <table>
    {{#each assignableLots as |lot|}}
        <tr>
            <td>{{fa-icon lot.icon}}</td>
            <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.date}}{{/link-to}}</td>
            <td>{{lot.purchase.transaction.source.name}}</td>
            <td>{{lot.count}}</td>
            <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
            <td>{{lot.type.vendor}}</td>
            <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
            <td>{{#link-to lot.link lot}}[info]{{/link-to}}</td>
            <td>{{#add-count-button action=(action 'performAssignment' assignLotToRequirement lot) default=assignLotToRequirement.missing}}assign{{/add-count-button}}</td>
        </tr>
    {{/each}}
    </table>
{{/modal-dialog}}
