<div class="group-detail columns small-12">
    {{partial '_itemheader'}}

  <section>
    <h3>Groups</h3>

    <button {{action 'showCreateTopLevelGroup'}}>{{fa-icon 'plus'}} Create sub-group</button>

    <ul class="two-level-index">
      {{#each model.groups as |group|}}
      {{two-level-index model=group target='groups.show' createAction=(action 'showCreateGroup')}}
      {{/each}}
    </ul>
  </section>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name {{sort-link action='sortBy' field='name'}}</th>
        <th>Vendor {{sort-link action='sortBy' field='vendor'}}</th>
        <th>Footprint {{sort-link action='sortBy' field='footprint'}}</th>
        <th>Available {{sort-link action='sortBy' field='available'}}</th>
        {{#each model.showProperties as |property|}}
            <th>{{property.name}} [{{property.unit.symbol}}] {{sort-link action='sortByProperty' field=property}}</th>
        {{/each}}
    </tr>
    </thead>
  {{#each sortedCategoriesList as |cat|}}
    {{group-type-line model=cat sorting=typeSorting columnCount=typeColumns showProperties=model.showProperties}}
  {{/each}}
</table>

    <h3>Additional properties to display</h3>

    <ul>
        {{#each model.showProperties as |property|}}
        <li>
            {{#link-to 'properties.show' property}}{{property.niceName}}{{/link-to}}
            {{#if manageProperties}}{{#confirm-button class='button remove' action='removeProperty' param=model param2=property}}{{fa-icon 'times'}} remove{{/confirm-button}}{{/if}}
        </li>
        {{/each}}
    </ul>

    {{#if manageProperties}}
    {{ember-selectize
    content=sortedProperties
    maxItems=1
    optionValuePath="content.id"
    optionLabelPath="content.niceName"
    selection=propertyToAdd
    placeholder="Select a property" }}
    <button {{action 'addProperty' model propertyToAdd}}>{{fa-icon 'plus'}} Add property</button>
    <button class='secondary' {{action 'manageProperties' false}}>{{fa-icon 'times'}} Hide</button>
    {{else}}
        <button class='secondary' {{action 'manageProperties' true}}>{{fa-icon 'bar-chart'}} Manage properties</button>
    {{/if}}
</div>

{{#modal-dialog title="Create group" condition=showCreateDialog}}
<form {{action 'createGroup' createName on='submit'}}>
<label for="name">Name:</label>
{{input id='name' placeholder='Enter group name' value=createName required='required'}}
{{#if selectedGroup}}
<label for="parent">Parent:
  <div>{{selectedGroup.name}}</div></label>
{{/if}}
<input type="submit" value="Create group">
</form>
{{/modal-dialog}}