<div class="row">
    <section class="meta columns large-6">
        <h2>{{#click-to-edit content=model field='content.name'}}{{model.name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}
</section>

<section class="columns large-6">
<h3>Attachments</h3>

<ul>
    {{#each describedBy as |doc|}}
    <li>{{#entity-link entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/entity-link}}</li>
    {{/each}}
</ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model uploadFinished='uploadFinished'}}
</section>
    </div>

<div class="row purchase">

    <dl class="columns large-4">
        <dt>Source</dt>
        <dd>{{#link-to 'sources.show' model.source}}{{model.source.name}}{{/link-to}}</dd>
    </dl>

    <dl class="columns large-4">
        <dt>Purchase date</dt>
        <dd>{{#click-to-editdate content=model field='content.date' editable=editEnabled}}{{model.date}}{{/click-to-editdate}}</dd>
    </dl>

    <dl class="columns large-4">
        <dt>Expected delivery</dt>
        <dd>{{#click-to-editdate content=model field='content.expectedDelivery' editable=editEnabled}}{{model.expectedDelivery}}{{/click-to-editdate}}</dd>
    </dl>

    <dl class="columns large-4">
        <dt>Status</dt>
        <dd>
            {{#if model.locked}}
              {{#confirm-button action="unlock" param=model}}{{fa-icon "lock"}} locked{{/confirm-button}}
            {{else}}
              <button {{action 'lock' model}}>{{fa-icon "unlock"}} unlocked</button>
            {{/if}}
        </dd>
    </dl>
</div>

<div class="row">
<section class="columns large-6 purchase">
   <h3>Summary</h3>
    <table class="transaction-summary">
        <tr>
            <th></th><th>count</th><th>without VAT</th><th>with VAT</th>
        </tr>
        <tr>
            <th>total</th><td>{{model.totalCount}}</td><td>{{price model.totalWithoutVat}}</td><td>{{price model.totalWithVat}}</td>
        </tr>
        <tr>
            <th>delivered</th><td>{{model.deliveredCount}}</td><td>{{price model.deliveredWithoutVat}}</td><td>{{price model.deliveredWithVat}}</td>
        </tr>
        <tr>
            <th>missing</th><td>{{model.missing}}</td><td>{{price model.missingWithoutVat}}</td><td>{{price model.missingWithVat}}</td>
        </tr>
    </table>
  </section>

  <section class="columns large-6 purchase">
    <h3>Barcodes</h3>

    {{#if model.codes}}
    <ul>
      {{#each model.codes as |code|}}
      {{bar-code model=code}}
      {{/each}}
      <li><a {{action 'addBarcode' model}}>Add barcode</a></li>
    </ul>
    {{else}}
    <p class="placeholder">No barcode. <a {{action 'addBarcode' model}}>Associate one.</a></p>
    {{/if}}
  </section>
</div>
  <section class="columns purchase">
    <h3>Items</h3>
    <table class="transaction-summary">
        <thead>
        <tr>
            <th>Type / Location</th>
            <th>SKU</th>
            <th>Cnt.</th>
            <th>Price</th>
            {{#if editEnabled}}
            <th>VAT?</th>
            {{else}}
            <th>w/ Vat</th>
            {{/if}}
            <th>Vat %</th>
        </tr>
        </thead>
        {{#each sortedItems as |purchase|}}
        <tbody class="delivery">
        <tr>
            <td class="truncate">
                {{#link-to 'types.show' purchase.type}}{{purchase.type.fullName}}{{/link-to}}
            </td>
            <td class="sku">{{#link-to 'sources.show' model.source}}{{model.source.name}}{{/link-to}} -
              {{#click-to-edit content=purchase field='content.sku' editable=editEnabled}}
                {{#if model.source.skuUrl}}
                  <a href="{{skuurl model.source.skuUrl sku=purchase.sku}}">{{purchase.sku}}</a>
                {{else}}
                  {{purchase.sku}}
                {{/if}}
              {{/click-to-edit}}
            </td>
            <td class="count">
                {{#click-to-edit content=purchase field='content.count' editable=editEnabled}}{{purchase.count}}{{/click-to-edit}}
            </td>
            {{#if editEnabled}}
            <td class="price">
                {{purchase.singlePrice}} {{purchase.currency}}
                <button class="button single-line" {{action 'editPrice' purchase}}>{{fa-icon 'edit'}}</button>
            </td>
            <td class="vat-included">
                <button class="button single-line" {{action 'fixVat' purchase}}>{{#if purchase.vatIncluded}}w/{{else}}w/o{{/if}} VAT</button>
            </td>
            {{else}}
            <td class="price">
                {{price purchase.priceWithoutVat}} {{purchase.currency}}
            </td>
            <td class="vat-included">
                {{price purchase.priceWithVat}} {{purchase.currency}}
            </td>
            {{/if}}
            <td class="vat">
                {{#click-to-edit content=purchase field='content.vat' editable=editEnabled}}{{purchase.vat}}{{/click-to-edit}}
            </td>
        </tr>
        {{#each purchase.next as |lot|}}
        <tr>
          <td colspan="2" class="location">
            {{fa-icon "cube"}} {{lot.location.fullName}}
          </td>
          <td colspan="4" class="count">
            {{lot.count}}
          </td>
        </tr>
        {{/each}}
        {{#if purchase.missing}}
        <tr>
            <td colspan="6">
                {{purchase-delivery sortedBoxes=sortedBoxes purchase=purchase action='delivered' location=location count=purchase.missing}}
            </td>
        </tr>
        {{/if}}
        </tbody>
        {{/each}}
    </table>
  </section>

{{outlet}}

{{#modal-dialog title="Set price" condition=selectedItem}}
<div class="row">
  <section class="columns">
    <p>{{selectedItem.type.fullName}}</p>
  </section>
</div>

<div class="row">
  <section class="columns large-3">
    <h3>Price in {{selectedItem.currency}}</h3>

    {{input type='text' value=selectedItem.singlePrice}}
  </section>

  <section class="columns large-3">
    <h3>Invoice currency</h3>

    {{input maxlength=3 type='text' value=selectedItem.currency placeholder='3 letter ISO code - USD, EUR, CZK'}}
  </section>

  <section class="columns large-3">
    <h3>Paid currency</h3>

    {{input maxlength=3 type='text' value=selectedItem.currencyPaid placeholder='3 letter ISO code - USD, EUR, CZK'}}
  </section>

  <section class="columns large-3">
    <h3>Exchange rate</h3>

    {{input type='text' value=exchangeRate placeholder='1.00'}}
  </section>

  <section class="columns large-1">
    <h3>w/VAT</h3>

    {{input type='checkbox' checked=selectedItem.vatIncluded}}
  </section>

  <section class="columns large-2">
    <h3>VAT</h3>

    {{input type='text' value=selectedItem.vat placeholder='20'}}
  </section>

  <section class="columns large-3">&nbsp;</section>

  <section class="columns large-3">
     <h3>Paid in {{selectedItem.currencyPaid}}</h3>

     <p>{{selectedItemPaidPrice}}</p>
  </section>

  <section class="columns large-3">
    <button {{action 'updatePrice'}}>Save</button>
    <button {{action 'cancelPriceChange'}}>Cancel</button>
  </section>
</div>

{{/modal-dialog}}