<div class="row">
    <section class="meta columns large-6">
        <h2>{{#click-to-edit content=model field='content.name'}}{{model.name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}
</section>

<section class="columns large-6">
<h3>Attachments</h3>

<ul>
    {{#each describedBy as |doc|}}
    <li>{{#entity-link entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/entity-link}}</li>
    {{/each}}
</ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model uploadFinished='uploadFinished'}}
</section>
    </div>

<section class="purchase">
    <h2>Purchase</h2>

    <dl>
        <dt>Source</dt>
        <dd>{{model.source.name}}</dd>
    </dl>

    <dl>
        <dt>Purchase date</dt>
        <dd>{{#click-to-edit content=model field='content.date' editable=editEnabled}}{{model.date}}{{/click-to-edit}}</dd>
    </dl>

    <dl>
        <dt>Status</dt>
        <dd>
            {{#if model.locked}}
              {{#confirm-button action="unlock" param=model}}{{fa-icon "lock"}} locked{{/confirm-button}}
            {{else}}
              <button {{action 'lock' model}}>{{fa-icon "unlock"}} unlocked</button>
            {{/if}}
        </dd>
    </dl>

    <table>
        <tr>
            <th></th><th>count</th><th>without VAT</th><th>with VAT</th>
        </tr>
        <tr>
            <th>total</th><td>{{model.totalCount}}</td><td>{{model.totalWithoutVat}}</td><td>{{model.totalWithVat}}</td>
        </tr>
        <tr>
            <th>delivered</th><td>{{model.deliveredCount}}</td><td>{{model.deliveredWithoutVat}}</td><td>{{model.deliveredWithVat}}</td>
        </tr>
        <tr>
            <th>missing</th><td>{{model.missing}}</td><td>{{model.missingWithoutVat}}</td><td>{{model.missingWithVat}}</td>
        </tr>
    </table>

    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>SKU</th>
            <th>Cnt.</th>
            <th>Price</th>
            <th>w/ Vat</th>
            <th>Vat %</th>
        </tr>
        <tr>
            <th colspan="2">Location</th>
            <th colspan="4">Cnt.</th>
        </tr>
        </thead>
        {{#each sortedItems as |purchase|}}
        <tbody class="delivery">
        <tr>
            <td>
                {{#link-to 'types.show' purchase.type}}{{purchase.type.fullName}}{{/link-to}}
            </td>
            <td class="sku">
              {{#click-to-edit content=purchase field='content.sku' editable=editEnabled}}{{lot.purchase.sku}}{{/click-to-edit}}
            </td>
            <td class="count">
                {{#click-to-edit content=purchase field='content.count' editable=editEnabled}}{{purchase.count}}{{/click-to-edit}}
            </td>
            {{#if editEnabled}}
            <td class="price">
                {{#click-to-edit content=purchase field='content.singlePrice'}}{{purchase.singlePrice}}{{/click-to-edit}}
            </td>
            <td class="vat-included">
                <button class="button remove" {{action 'fixVat' purchase}}>{{fa-icon 'wrench'}} VAT {{#if purchase.vatIncluded}}{{else}}not{{/if}} included</button>
            </td>
            {{else}}
            <td class="price">
                {{purchase.priceWithoutVat}}
            </td>
            <td class="vat-included">
                {{purchase.priceWithVat}}
            </td>
            {{/if}}
            <td class="vat">
                {{#click-to-edit content=purchase field='content.vat' editable=editEnabled}}{{purchase.vat}}{{/click-to-edit}}
            </td>
        </tr>
        {{#each purchase.next as |lot|}}
        <tr>
          <td colspan="2" class="location">
            {{fa-icon "cube"}} {{lot.location.fullName}}
          </td>
          <td colspan="4" class="count">
            {{lot.count}}
          </td>
        </tr>
        {{/each}}
        {{#if purchase.missing}}
        <tr>
            <td colspan="5">
                {{purchase-delivery sortedBoxes=sortedBoxes purchase=purchase action='delivered' location=location count=purchase.missing}}
            </td>
        </tr>
        {{/if}}
        </tbody>
        {{/each}}
    </table>
</section>

{{outlet}}
