{{#if editing}}
<form {{action 'saveEdit' on='submit'}} class="inline">
    {{input type='text' value=(mut value)}}
    <button type="submit">save</button>
    <button class="button secondary" {{action 'cancelEdit'}}>cancel</button>
</form>
{{else if show}}
{{yield}} {{#if enabled}}<button class="button edit tiny" {{action 'startEdit'}}>{{fa-icon 'edit'}}</button>{{/if}}
{{else if enabled}}
<span class="placeholder">{{placeholder}}</span> <button class="button edit tiny" {{action 'startEdit'}}>{{fa-icon 'edit'}}</button>
{{/if}}
