<section class="columns small-12">
  <h2>Open projects</h2>

  <button {{action 'showCreateProject'}}>{{fa-icon 'plus'}} Create new project</button>

  <ul class="item-list">
    {{#each inProgress as |project|}}
    <li>{{#link-to project.link project}}{{fa-icon project.icon}} ({{project.progressPct}}%) {{project.type.name}}{{#if project.serial}} &ndash; {{project.serial}}{{/if}}{{/link-to}}</li>
    {{/each}}
  </ul>

  <h2>Closed projects</h2>

  <ul class="item-list">
    {{#each closed as |project|}}
    <li>{{#link-to project.link project}}{{fa-icon project.icon}} {{project.type.name}} {{#if project.serial}} &ndash; {{project.serial}}{{/if}}{{/link-to}}</li>
    {{/each}}
  </ul>
</section>

{{#modal-dialog title="Create new project" condition=showCreateDialog}}
  <form {{action 'startProject' projectName on='submit'}}>
  {{input type='text' value=(mut projectName) placeholder='project name'}}
  <button type="submit">Create</button>
  </form>
{{/modal-dialog}}
