<section class="columns large-12">
<h2>Groups</h2>

  <button {{action 'showCreateTopLevelGroup'}}>{{fa-icon 'plus'}} Create group</button>

  <ul class="columns two-level-index">
      {{#each topLevel as |group|}}
      {{two-level-index model=group target='groups.show'}}
     {{/each}}
  </ul>
</section>

{{#modal-dialog title="Create group" condition=showCreateDialog}}
<form {{action 'createGroup' createName on='submit'}}>
<label for="name">Name:</label>
{{input id='name' placeholder='Enter group name' value=createName required='required'}}
{{#if selectedGroup}}
<label for="parent">Parent:
  <div>{{selectedGroup.name}}</div></label>
{{/if}}
<input type="submit" value="Create group">
</form>
{{/modal-dialog}}

  {{outlet}}


