{{title-bar stickerCount=stickers.length searchAction='search'}}

<div class="main-content">
    {{#if error}}<p class="alert-box warning">{{fa-icon 'exclamation-triangle'}} {{error}}</p>{{/if}}
    {{outlet}}
</div>

{{growl-manager notifications=growl.notifications}}

{{#modal-dialog condition=showCodeFor title=""}}
<div class="row">
  <div class="columns small-4">
    {{entity-qr entity=showCodeFor models=showCodeForModelPlural}}
  </div>
  <div class="columns small-8">
    <h2>{{showCodeFor.fullName}}</h2>
    {{showCodeFor.summary}}
  </div>
</div>
{{/modal-dialog}}

{{#modal-dialog condition=barcodedItem title="Add barcode"}}

<div class="row">
<dl class="columns">
  <dt>Item</dt>
  <dd>{{barcodedItem.fullName}}</dd>
</dl>
</div>

<div class="row">
<dl class="columns large-6">
  <dt>Type</dt>
  <dd>{{ember-selectize
    content=codeTypes
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=barcodedType
    maxItems=1
    placeholder="Select QR code type" }}</dd>
</dl>

<dl class="columns large-6">
  <dt>Value</dt>
  <dd>{{input value=barcodedValue}}</dd>
</dl>
</div>

<button {{action 'createBarcode' barcodedItem barcodedType barcodedValue}}>Create code</button>

{{/modal-dialog}}