{{title-bar stickerCount=stickers.length searchAction='search'}}

<div class="main-content">
    {{outlet}}
</div>

{{growl-manager notifications=growl.notifications}}

{{#modal-dialog condition=barcodedItem title="Add barcode"}}

<div class="row">
<dl class="columns">
  <dt>Item</dt>
  <dd>{{barcodedItem.fullName}}</dd>
</dl>
</div>

<div class="row">
<dl class="columns large-6">
  <dt>Type</dt>
  <dd>{{ember-selectize
    content=codeTypes
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=barcodedType
    maxItems=1
    placeholder="Select QR code type" }}</dd>
</dl>

<dl class="columns large-6">
  <dt>Value</dt>
  <dd>{{input value=barcodedValue}}</dd>
</dl>
</div>

<button {{action 'createBarcode' barcodedItem barcodedType barcodedValue}}>Create code</button>

{{/modal-dialog}}