{{#if pendingTransactions}}
    <h3>Pending transactions</h3>
    <table>
        <tr>
            <th>Source</th>
            <th>Date</th>
            <th>Name</th>
            <th>Missing</th>
        </tr>
        {{#each trans in pendingTransactions}}
            <tr>
            <td>{{#link-to 'transactions.show' trans}}{{trans.source.name}}{{/link-to}}</td>
            <td>{{trans.date}}</td>
            <td>{{trans.name}}</td>
            <td>{{trans.missing}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

<section class="purchase">
    <h2>Purchase</h2>

    <form {{action 'purchase' model on='submit'}}>

    <label for="source">
        Source:
    </label>
    <div class="row collapse">
        <div class="small-11 columns">
            {{ember-selectize
            content=sortedSources
            loading=sortedSources.isPending
            optionValuePath="content.id"
            optionLabelPath="content.nameWithDesc"
            selection=model.source
            required=true
            multiple=false
            maxItems=1
            create='createSource'
            placeholder="Select a source" }}
        </div>
        <div class="small-1 columns">
            <button {{action 'manageSources'}} class='postfix' title='Manage sources'>{{fa-icon 'gear'}}</button>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th colspan="5">Type</th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Cnt.</th>
            <th>Price</th>
            <th>w/</th>
            <th>Vat %</th>
        </tr>
        </thead>
        {{#each purchase in model.items}}
        <tbody>
        <tr>
            <td colspan="5">
                <div class="row collapse">
                    <div class="small-11 columns">
                        {{ember-selectize
                        content=sortedTypes
                        optionValuePath="content.id"
                        optionLabelPath="content.fullName"
                        selection=purchase.type
                        loading=sortedTypes.isPending
                        required=true
                        maxItems=1
                        create='createType'
                        sort="content.fullName"
                        placeholder="Select a type" }}
                    </div>
                    <div class="small-1 columns">
                        <button {{action 'manageTypes' purchase}} class='postfix'>{{fa-icon 'gear'}}</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sku">
                {{input type='text' value=purchase.sku id=sku placeholder='SKU'}}
            </td>
            <td class="count">
                {{input type='text' value=purchase.count id=count placeholder='count'}}
            </td>
            <td class="price">
                {{input type='text' value=purchase.singlePrice id=price placeholder='price'}}
            </td>
            <td class="vat-included">
                {{input type='checkbox' checked=purchase.vatIncluded id=vatIncluded}}
            </td>
            <td class="vat">
                {{input type='text' value=purchase.vat id=vat placeholder='vat%'}}
            </td>
        </tr>
        </tbody>
        {{/each}}

        <tr>
            <td colspan="6"><button {{action 'addRow'}}>{{fa-icon 'plus'}} Add row</button></td>
        </tr>
    </table>


    <button type="submit" {{bind-attr disabled=submitDisabled}}>Purchase</button>
    </form>
</section>

{{outlet}}
