<div class="row">
    <section class="meta columns large-6">
        <h2>{{#click-to-edit content=model field='content.name'}}{{model.name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}
</section>

<section class="columns large-6">
<h3>Attachments</h3>

<ul>
    {{#each doc in describedBy}}
    <li>{{#view 'entity-link' entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/view}}</li>
    {{/each}}
</ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model uploadFinished='uploadFinished'}}
</section>
    </div>

<section class="purchase">
    <h2>Purchase</h2>

    <dl>
        <dt>Source</dt>
        <dd>{{model.source.name}}</dd>
    </dl>

    <dl>
        <dt>Purchase date</dt>
        <dd>{{model.date}}</dd>
    </dl>

    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th colspan="4">Box</th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Cnt.</th>
            <th>Price</th>
            <th>w/ Vat</th>
            <th>Vat %</th>
        </tr>
        </thead>
        {{#each purchase in model.items}}
        <tbody>
        <tr>
            <td>
                {{#link-to 'types.show' purchase.type}}{{purchase.type.fullName}}{{/link-to}}
            </td>
            <td colspan="4">
                {{purchase-delivery sortedBoxes=sortedBoxes purchase=purchase action='delivered' location=location}}
            </td>
        </tr>
        <tr>
            <td class="sku">
                {{purchase.sku}}
            </td>
            <td class="count">
                {{purchase.count}}
            </td>
            <td class="price">
                {{purchase.priceWithoutVat}}
            </td>
            <td class="vat-included">
                {{purchase.priceWithVat}}
            </td>
            <td class="vat">
                {{purchase.vat}}
            </td>
        </tr>
        </tbody>
        {{/each}}
    </table>
</section>

{{outlet}}
