<section class="columns large-12">
    {{partial '_itemheader'}}

<table style="width: 100%;">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name {{sort-link action='sortBy' field='type.name'}}</th>
        <th>Vendor {{sort-link action='sortBy' field='type.vendor'}}</th>
        <th>Footprint {{sort-link action='sortBy' field='type.footprint'}}</th>
        <th>Count {{sort-link action='sortBy' field='count'}}</th>
        <th>Price {{sort-link action='sortBy' field='purchase.priceWithoutVat'}}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
{{#each sortedLots as |lot|}}
    <tbody>
    <tr {{action 'showQr' 'lots' lot on='mouseEnter'}}>
        <td>
            {{#if lot.canBeMoved}}
                {{#draggable-item content=lot.id}}{{fa-icon 'hand-o-up'}}{{/draggable-item}}
            {{else}}
                &nbsp;
            {{/if}}
        </td>
        <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
        <td>{{lot.type.vendor}}</td>
        <td>
            {{#each lot.type.footprints as |fp|}}
            {{#link-to 'footprints.show' fp}}{{fp.name}}{{/link-to}}
            {{/each}}
        </td>
        <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.count}}{{/link-to}}</td>
        <td>{{price lot.purchase.priceWithoutVat}} {{lot.purchase.currency}}</td>
        <td>{{#link-to 'lots.show' lot}}{{fa-icon 'history'}}{{/link-to}}</td>
    </tr>
    <tr class="summary">
        <td>&nbsp;</td>
        <td colspan="6">{{lot.type.summary}}</td>
    </tr>
    </tbody>
{{/each}}
</table>
</section>
