<section>
    <h2>Search</h2>

    <form {{action 'search' query on='submit'}}>
    {{input type='text' value=(mut query)}}
    <button type="submit">{{fa-icon 'search'}}</button>
    </form>
</section>

<section>
    <h2>Results</h2>

    <ul>
        {{#each model.items as |obj|}}
        <li class="{{obj.flagged}}">{{#link-to obj.link obj}}{{fa-icon obj.icon}} {{obj.name}}{{/link-to}} - {{obj.summary}}</li>
        {{/each}}
    </ul>
</section>

{{outlet}}
