<thead>
<tr>
  <th colspan="{{columnCount}}">{{model.fullName}}</th>
  <th>&nbsp;</th>
</tr>
</thead>
{{#each sortedTypes as |type|}}
<tbody>
<tr>
  <td>{{#draggable-item content=type.id}}{{fa-icon 'hand-o-up'}}{{/draggable-item}}</td>
  <td>{{#link-to 'types.show' type}}{{type.name}}{{/link-to}}</td>
  <td>{{type.vendor}}</td>
  <td>
    {{#each type.footprints as |fp|}}
    {{#link-to 'footprints.show' fp}}{{fp.name}}{{/link-to}}
    {{/each}}
  </td>
  <td>{{#link-to 'types.show' type}}{{type.available}}{{/link-to}}</td>
  {{#each model.showProperties as |property|}}
  <td>{{property-value entity=type property=property}}</td>
  {{/each}}
</tr>
<tr>
  <td>&nbsp;</td>
  <td colspan="{{columnCount}}">{{type.summary}}</td>
</tr>
</tbody>
{{/each}}