<section>
    <h2>Sources</h2>

    <button {{action 'createSource'}}>Create source</button>

    <ul class="small-block-grid-2 large-block-grid-4">
        {{#each this as |source|}}
        <li>
            {{rest-image models='sources' entity=source resource='icon' size=48}}
            {{#link-to 'sources.show' source}}{{source.name}}{{/link-to}}<br/>
            {{source.url}} {{#if source.url}}<a href="{{source.url}}">{{fa-icon 'fa-paper-plane-o'}}</a>{{/if}}
        </li>
        {{/each}}
    </ul>
</section>

{{outlet}}
