<section>
    <h2>Properties</h2>

  <button {{action 'showCreateProperty'}}>{{fa-icon 'plus'}} Create property</button>

  <ul class="small-block-grid-2 large-block-grid-4">
        {{#each model as |property|}}
        <li>
            {{#link-to 'properties.show' property}}{{property.name}}{{/link-to}}<br/>
            <aside>{{property.symbol}} [ {{#link-to 'units.show' property.unit}}{{property.unit.symbol}}{{/link-to}} ]</aside>
            <p>{{property.summary}}</p>
        </li>
        {{/each}}
    </ul>
</section>

{{#modal-dialog title="Create property" condition=showCreateDialog}}
    <form {{action 'createProperty' propertyName propertyUnit propertyBase on='submit'}}>
    <p>
    <label for="name">Name:</label>
    {{input id='name' placeholder='Enter property name' value=propertyName required='required'}}
    </p>

    <p>
    <label for="unit">Unit:</label>
    {{ember-selectize
    content=sortedUnits
    optionValuePath="content.id"
    optionLabelPath="content.niceName"
    selection=propertyUnit
    maxItems=1
    placeholder="Select an unit" }}
    </p>

    <p>
    <label for="precision">Precision:
        <p class="placeholder">Shelves uses fixed precision for values. This field controls the smallest unit you can save.</p></label>
    {{ember-selectize
    content=sortedPrefixes
    optionValuePath="content.id"
    optionLabelPath="content.niceName"
    selection=propertyBase
    maxItems=1
    placeholder="Select an unit" }}
    </p>

    <button type="submit" disabled={{propertyNotComplete}}>Create property</button>
    </form>

{{/modal-dialog}}

{{outlet}}
