{{partial '_itemheader'}}

<h3>Required parts</h3>
<table>
{{#each r in displayRequirements itemController='projects/_requirement'}}
    <tbody>
    <tr>
        <td>{{#click-to-edit content=r.model field='content.count'}}{{r.count}}{{/click-to-edit}} of</td>
        <td>{{#click-to-edit content=r.model field='content.name'}}{{r.name}}{{/click-to-edit}}</td>
        <td colspan="2">{{#confirm-button action='removeRequirement' class='alert tiny button' param=r.model}}{{fa-icon 'minus'}} Remove{{/confirm-button}}
            <button {{action 'showAddAlternative' r.model}} class="button tiny">{{fa-icon 'plus'}} Alternative</button>
            {{#if r.missing}}<button {{action 'assignLot' r.model r.assignableLots}} class="button tiny">{{fa-icon 'plus'}} Assign parts</button>{{/if}}
        </td>
    </tr>
    {{#each type in r.possibleTypes}}
    <tr>
        <td>{{fa-icon 'book'}}</td>
        <td>{{#link-to 'types.show' type}}{{type.name}}{{/link-to}} / {{type.vendor}}</td>
        <td>{{#each fp in type.footprints}}{{#link-to 'footprints.show' fp}}{{fp.name}}{{/link-to}} {{/each}}</td>
        <td>{{#if r.typeCanBeRemoved}}<button class="button tiny alert" {{action 'removeAlternativePart' r.model type}}>{{fa-icon 'times'}}</button>{{else}}&nbsp;{{/if}}</td>
    </tr>
    {{/each}}
    {{#each lot in r.assignedLots itemController='projects/_lot'}}
    <tr>
        <td>{{lot.count}}</td>
        <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}} / {{lot.type.footprint}}</td>
        {{#if lot.displayActions}}
        <td colspan="2">
            {{#if lot.canBeSoldered}}{{#add-count-button default=lot.count class="tiny alert" action='solderLot' param=lot}}{{fa-icon 'pencil'}} Solder{{/add-count-button}}{{/if}}
            {{#if lot.canBeUnassigned}}{{#confirm-button class="tiny" action='unassignLot' param=lot}}{{fa-icon 'times'}} Unassign{{/confirm-button}}{{/if}}
            {{#if lot.canBeUnsoldered}}{{#confirm-button class="tiny" action='unsolderLot' param=lot}}{{fa-icon 'reply'}} Unsolder{{/confirm-button}}{{/if}}
            <button {{action 'hideActions'}} class="tiny button">Hide</button>
        </td>
        {{else}}
        <td>{{lot.purchase.transaction.source.name}} / {{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.date}}{{/link-to}}</td>
        <td>
            <a {{action 'showActions'}}>{{fa-icon 'play'}} actions</a>
            {{#link-to 'lots.show' lot}}{{fa-icon 'history'}} history{{/link-to}}
        </td>
        {{/if}}
    </tr>
    {{/each}}
    </tbody>
{{/each}}
</table>

<h3>Add requirement</h3>
<form {{action 'addRequirement' model requiredType requiredCount on='submit'}}>
{{ember-selectize
content=sortedTypes
optionValuePath="content.id"
optionLabelPath="content.fullName"
selection=requiredType
sort="content.fullName"
maxItems=1
required=true
placeholder="Select a type" }}

{{input type='text' value=requiredCount}}
<button type="submit">Add</button>
</form>

{{outlet}}

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
    <button class='qr-button' {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>
</nav>

{{#modal-dialog condition=showAlternativeDialog title="Add alternative"}}
    <form {{action 'addAlternativePart' lastRequirement alternativeType on='submit'}}>

    {{ember-selectize
    content=sortedTypes
    loading=sortedTypes.isPending
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=alternativeType
    sort="content.fullName"
    maxItems=1
    required=true
    placeholder="Select a type" }}

    <button type="submit">{{fa-icon 'plus'}} Add</button>
    </form>
{{/modal-dialog}}


{{#modal-dialog condition=assignLotToRequirement title="Add lot"}}
    <table>
    {{#each lot in assignableLots}}
        <tr>
            <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.purchase.transaction.date}}{{/link-to}}</td>
            <td>{{lot.purchase.transaction.source.name}}</td>
            <td>{{lot.count}}</td>
            <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
            <td>{{lot.type.vendor}}</td>
            <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
            <td>{{#link-to 'lots.show' lot}}[history]{{/link-to}}</td>
            <td>{{#add-count-button action='performAssignment' param=assignLotToRequirement param2=lot default=assignLotToRequirement.missing}}assign{{/add-count-button}}</td>
        </tr>
    {{/each}}
    </table>
{{/modal-dialog}}
