<h2>{{#click-to-edit content=model field='content.name'}}{{model.name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{model.summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{model.description}}{{/click-to-editarea}}

<h3>Required parts</h3>
<table>
{{#each r in model.requirements}}
    <tbody>
    <tr>
        <td colspan="2">{{#click-to-edit content=r field='content.count'}}{{r.count}}{{/click-to-edit}} of</td>
        <td></td>
        <td colspan="2">{{#confirm-button action='removeRequirement' class='alert tiny button' param=r}}{{fa-icon 'minus'}} Remove{{/confirm-button}}</button>
            <button {{action 'showAddAlternative' r}} class="button tiny">{{fa-icon 'plus'}} Alternative</button></td>
    </tr>
    {{#each type in r.type}}
    <tr>
        <td>{{fa-icon 'plus'}}</td>
        <td>{{#link-to 'types.show' type}}{{type.name}}{{/link-to}}</td>
        <td>{{type.vendor}}</td>
        <td>{{#link-to 'footprints.show' type.footprint}}{{type.footprint.name}}{{/link-to}}</td>
        <td>{{#if r.typeCanBeRemoved}}<button class="button tiny alert" {{action 'removeAlternativePart' r type}}>{{fa-icon 'times'}}</button>{{else}}&nbsp;{{/if}}</td>
    </tr>
    {{/each}}
    {{#each lot in r.lots}}
    <tr>
        <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.count}}{{/link-to}}</td>
        <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
        <td>{{lot.type.vendor}}</td>
        <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
        <td>
            {{#if lot.canBeSoldered}}<button class="button tiny alert">Solder</button>{{/if}}
            {{#if lot.canBeUnassigned}}<button class="button tiny secondary">Unassign</button>{{/if}}
            {{#if lot.canBeUnsoldered}}<button class="button tiny alert">Unsolder</button>{{/if}}
        </td>
    </tr>
    {{/each}}
    </tbody>
{{/each}}
</table>

<h3>Add requirement</h3>
<form {{action 'addRequirement' model requiredType requiredCount on='submit'}}>
{{ember-selectize
content=sortedTypes
optionValuePath="content.id"
optionLabelPath="content.fullName"
selection=requiredType
sort="content.fullName"
placeholder="Select a type" }}

{{input type='text' value=requiredCount}}
<button type="submit">Add</button>
</form>

{{outlet}}

<div id="addAlternative" class="reveal-modal" data-reveal>
    <h2>Add alternative</h2>
    <form {{action 'addAlternativePart' lastRequirement alternativeType on='submit'}}>

    {{ember-selectize
    content=sortedTypes
    optionValuePath="content.id"
    optionLabelPath="content.fullName"
    selection=alternativeType
    sort="content.fullName"
    placeholder="Select a type" }}

    <button type="submit" {{bind-attr disabled=submitDisabled}}>{{fa-icon 'plus'}} Add</button>
    </form>

    <a class="close-reveal-modal">&#215;</a>
</div>