<section class="columns large-12">
  {{#if qrEntity}}
  <nav class="qr">{{entity-qr models=qrModels entity=qrEntity size=200}}</nav>
  {{/if}}

  <h2>Locations</h2>

  <button {{action 'showCreateTopLevelBox'}}>{{fa-icon 'plus'}} Create location</button>

  <ul class="two-level-index">
    {{#each topLevel as |box|}}
    {{two-level-index model=box target='boxes.show'}}
    {{/each}}
  </ul>

</section>

{{#modal-dialog title="Create location" condition=showCreateDialog}}
<form {{action 'createBox' name on='submit'}}>
<label for="name">Name:</label>
{{input id='name' placeholder='Enter box name' value=name required='required'}}
{{#if selectedBox}}
<label for="parent">Parent:
  <div>{{selectedBox.name}}</div></label>
{{/if}}
<input type="submit" value="Create box">
</form>
{{/modal-dialog}}