<section>
    <h2>Create unit</h2>
    <form {{action 'createUnit' unitName unitSymbol on='submit'}}>
    {{input type='text' value=unitName placeholder='unit name'}}
    {{input type='text' value=unitSymbol placeholder='unit symbol'}}
    <button type="submit" {{bind-attr disabled=createDisabled}}>Create</button>
    </form>

    <h2>Units</h2>

    <ul class="small-block-grid-2 large-block-grid-4">
        {{#each unit in this}}
        <li>
            <aside>{{unit.symbol}}</aside>
            {{#link-to 'units.show' unit}}{{unit.name}}{{/link-to}}<br/>
        </li>
        {{/each}}
    </ul>
</section>

{{outlet}}
