{{partial '_itemheader'}}

<section class="columns small-12">
<h3>Unit symbol</h3>

<p>
{{#click-to-edit content=model field='content.symbol'}}{{model.symbol}}{{/click-to-edit}}
</p>

<h3>Enabled ISO prefixes</h3>

<ul class="prefixes small-block-grid-2 large-block-grid-6">
    {{#each prefix in sortedPrefixes itemController='properties/unit'}}
    <li>
        {{#if prefix.isEnabled}}
        <button {{action 'disablePrefix' prefix.model}} class="button tiny alert">{{prefix.id}} [{{prefix.prefix}}] &ndash; {{prefix.base}}<sup>{{prefix.power}}</sup></button>
        {{else}}
        <button {{action 'enablePrefix' prefix.model}} class="button tiny secondary">{{prefix.id}} [{{prefix.prefix}}] &ndash; {{prefix.base}}<sup>{{prefix.power}}</sup></button>
        {{/if}}
    </li>
    {{/each}}
</ul>
</section>

{{outlet}}

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
</nav>