<h2>Paper</h2>

<dl>
    <dt>Page format</dt>
    <dd>
        {{ember-selectize
        content=papers
        loading=papers.isPending
        optionValuePath="content.name"
        optionLabelPath="content.name"
        selection=paper
        required=true
        multiple=false
        maxItems=1
        placeholder="Select a paper" }}
        {{input type='hidden' name='pageSize' value=paper.paperSize}}
    </dd>
</dl>

{{#sticker-form items=model}}
<ol class="small-block-grid-2 large-block-grid-5 {{paperDetailStyle}}">
    <li class="always-on">
        <dl>
            <dt>Skip [count] positions</dt>
            <dd>{{input type="number" name="skip" value=paperSlotSkip}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Top page margin [mm]</dt>
            <dd>{{input type="number" name="topMarginMm" readonly=fieldEditable value=paper.topMarginMm}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Left page margin [mm]</dt>
            <dd>{{input type="number" name="leftMarginMm" readonly=fieldEditable value=paper.leftMarginMm}}</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Horizontal count</dt>
            <dd>{{input type="number" name="stickerHorizontalCount" readonly=fieldEditable value=paper.stickerHorizontalCount}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Vertical count</dt>
            <dd>{{input type="number" name="stickerVerticalCount" readonly=fieldEditable value=paper.stickerVerticalCount}}</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Sticker width [mm]</dt>
            <dd>{{input type="number" name="stickerWidthMm" readonly=fieldEditable value=paper.stickerWidthMm}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Sticker height [mm]</dt>
            <dd>{{input type="number" name="stickerHeightMm" readonly=fieldEditable value=paper.stickerHeightMm}}</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Top sticker margin [mm]</dt>
            <dd>{{input type="number" name="stickerTopMarginMm" readonly=fieldEditable value=paper.stickerTopMarginMm}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Left sticker margin [mm]</dt>
            <dd>{{input type="number" name="stickerLeftMarginMm" readonly=fieldEditable value=paper.stickerLeftMarginMm}}</dd>
        </dl>
    </li>

    <li>
        <dl>
            <dt>Horizontal sticker spacing [mm]</dt>
            <dd>{{input type="number" name="rightSpaceMm" readonly=fieldEditable value=paper.rightSpaceMm}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Vertical sticker spacing [mm]</dt>
            <dd>{{input type="number" name="bottomSpaceMm" readonly=fieldEditable value=paper.bottomSpaceMm}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Title font size [pt]</dt>
            <dd>{{input type="number" name="titleFontSize" readonly=fieldEditable value=paper.titleFontSize}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Details font size [pt]</dt>
            <dd>{{input type="number" name="detailsFontSize" readonly=fieldEditable value=paper.detailsFontSize}}</dd>
        </dl>
    </li>
</ol>

<button {{action 'clearStickers'}} class="alert button">{{fa-icon 'times'}} Clear stickers</button>
<button type='submit' disabled={{cannotPrint}} class="primary button">{{fa-icon 'qr-code'}} Download stickers</button>
{{/sticker-form}}

<h2>Stickers</h2>

<ul class="row">
  {{#each model key="@index" as |obj|}}
  <li class="columns small-6 large-3 sticker">{{fa-icon obj.object.icon}} {{obj.object.fullName}}
    <button {{action 'removeSticker' obj}} class="remove button single-line">{{fa-icon 'times'}}</button>
    <button {{action 'addSticker' obj}} class="button single-line">{{fa-icon 'plus'}}</button>
  </li>
  {{/each}}
</ul>

{{outlet}}
