{{partial '_itemheader'}}

<div class="row">
    <section class="footprint-summary small-12 large-6 columns">
        <h3>Footprint information</h3>

        <div class="row">
            <dl class="small-3 columns">
                <dt>{{fa-icon 'fa-square'}} Pads</dt>
                <dd>{{#click-to-edit content=model field='content.pads'}}{{model.pads}}{{/click-to-edit}}</dd>
            </dl>
            <dl class="small-3 columns">
                <dt>{{fa-icon 'fa-circle-o'}} Holes</dt>
                <dd>{{#click-to-edit content=model field='content.holes'}}{{model.holes}}{{/click-to-edit}}</dd>
            </dl>
            <dl class="small-3 columns">
                <dt>{{fa-icon 'fa-circle'}} NPTH</dt>
                <dt>{{#click-to-edit content=model field='content.npth'}}{{model.npth}}{{/click-to-edit}}</dt>
            </dl>
            <dl class="small-3 columns">
                <dt>{{fa-icon 'fa-bars'}} Pitch</dt>
                <dt>{{#click-to-edit content=model field='content.pitch'}}{{pitch}}{{/click-to-edit}}</dt>
            </dl>
        </div>

        <h3>Type of footprint</h3>

        {{#click-to-select content=model field='content.type' options=footprintTypes label='content.name'}}{{fa-icon model.type.icon}} {{model.type.name}}{{/click-to-select}}
    </section>

    <section class="small-12 large-6 columns">
        <h3>See also</h3>

        <ul>
            {{#each model.seeAlso as |fp|}}
                <li>{{#link-to 'footprints.show' fp}}{{fa-icon 'file-o'}} {{fp.name}}{{/link-to}} {{#confirm-button class='remove button' action='removeSeeAlso' param=fp}}{{fa-icon 'times'}}{{/confirm-button}}</li>
            {{/each}}
        </ul>

        {{#if displayAddSeeAlso}}
            {{ember-selectize
            content=sortedFootprints
            maxItems=1
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=seeAlsoFpToAdd
            placeholder="Select a footprint" }}

            <button {{action 'addSeeAlso' seeAlsoFpToAdd}} class="button primary">{{fa-icon 'plus'}} Add see also link</button>
            <button {{action 'hideAddSeeAlso'}} class="button secondary">Hide</button>
        {{else}}
            <button {{action 'showAddSeeAlso'}} class="button secondary">{{fa-icon 'plus'}} Add see also link</button>
        {{/if}}
    </section>
</div>

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
</nav>