<h2>{{#click-to-edit content=model field='content.name'}}{{name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}

<h3>Attachments</h3>

<ul>
    {{#each doc in describedBy}}
    <li>{{#view 'entity-link' entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/view}}</li>
    {{/each}}
</ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model uploadFinished='uploadFinished'}}

<div class="footprint-summary">
    <dl>
        <dt>{{fa-icon 'fa-square'}} Pads</dt>
        <dd>{{#click-to-edit content=model field='content.pads'}}{{pads}}{{/click-to-edit}}</dd>
    </dl>
    <dl>
        <dt>{{fa-icon 'fa-circle-o'}} Holes</dt>
        <dd>{{#click-to-edit content=model field='content.holes'}}{{holes}}{{/click-to-edit}}</dd>
    </dl>
    <dl>
        <dt>{{fa-icon 'fa-circle'}} NPTH</dt>
        <dt>{{#click-to-edit content=model field='content.npth'}}{{npth}}{{/click-to-edit}}</dt>
    </dl>
    <dl>
        <dt>{{fa-icon 'fa-bars'}} Pitch</dt>
        <dt>{{#click-to-edit content=model field='content.pitch'}}{{pitch}}{{/click-to-edit}}</dt>
    </dl>
</div>