<td>{{lot.count}}</td>
<td> {{fa-icon lot.icon}} {{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}} / {{lot.type.footprint}}</td>
<td>
  {{#if lot.purchase}}
  {{lot.purchase.transaction.source.name}} / {{#link-to 'transactions.show' lot.purchase.transaction}}{{moment-format lot.purchase.transaction.date 'll'}}{{/link-to}}
  {{else}}
  {{#link-to 'lots.show' lot}}mixed parts{{/link-to}}
  {{/if}}
</td>
<td>
  {{#if lot.canBeSoldered}}{{#add-count-button default=lot.count button-class="single-line alert" action=(action 'solderLot' lot)}}{{fa-icon 'pencil'}} Solder{{/add-count-button}}{{/if}}
  {{#if lot.canBeUnassigned}}{{#confirm-button class="single-line" action=(action 'unassignLot' lot)}}{{fa-icon 'times'}} Unassign{{/confirm-button}}{{/if}}
  {{#if lot.canBeUnsoldered}}{{#confirm-button class="single-line" action=(action 'unsolderLot' lot)}}{{fa-icon 'reply'}} Unsolder{{/confirm-button}}{{/if}}
  {{#link-to lot.endpoint lot}}{{fa-icon 'history'}}&nbsp;info{{/link-to}}
</td>
