<h2>Lot {{model.id}}</h2>

<dl>
    <dt>Count</dt>
    <dd>{{model.count}}</dd>
</dl>

<dl>
    <dt>Action</dt>
    <dd>{{model.status}}</dd>
</dl>

<dl>
    <dt>Date</dt>
    <dd>{{model.created}}</dd>
</dl>

<h2>Chain of changes</h2>
<table>
{{lot-history model=model.history showHistory=true}}
</table>

{{#if model.parents}}
<h2>Mixed from</h2>

<table>
  <tr>
    <th>%</th>
    <th>type</th>
    <th>purchased on</th>
    <th>source</th>
    <th>transaction</th>
  </tr>
{{#each model.ancestry key="@index" as |ancestor|}}
<tr>
  <td>{{price ancestor.probability}}%</td>
  <td>{{#link-to 'types.show' ancestor.purchase.type}}{{ancestor.purchase.type.fullName}}{{/link-to}}</td>
  <td>{{ancestor.purchase.transaction.date}}</td>
  <td>{{#link-to 'sources.show' ancestor.purchase.transaction.source}}{{ancestor.purchase.transaction.source.fullName}}{{/link-to}}</td>
  <td>{{#link-to 'transactions.show' ancestor.purchase.transaction}}{{ancestor.purchase.transaction.fullName}}{{/link-to}}</td>
</tr>
{{/each}}
</table>
{{/if}}