<h2>Lot {{model.id}}</h2>

<dl>
  <dt>Type</dt>
  <dd>{{fa-icon model.type.icon}} {{#link-to 'types.show' model.type}}{{model.type.fullName}}{{/link-to}}</dd>
</dl>

<dl>
    <dt>Count</dt>
    <dd>{{model.count}}</dd>
</dl>

{{#if model.usedBy}}
<dl>
  <dt>Used in</dt>
  <dd>{{#link-to 'items.show' model.usedBy.item}}{{model.usedBy.item.fullName}}{{/link-to}}</dd>
</dl>
{{/if}}

{{#if model.usedInPast}}
<p class="alert-boc warn">This lot contains parts that are or were used in the past.</p>
{{/if}}

<h2>Chain of changes</h2>
<table>
{{lot-history model=model.history showHistory=true}}
</table>

{{#if model.parents}}
<h2>Mixed from</h2>

<table>
  <tr>
    <th>%</th>
    <th>history</th>
    <th>purchased on</th>
    <th>source</th>
    <th>transaction</th>
  </tr>
{{#each model.ancestry as |ancestor|}}
{{lot-ancestor-detail ancestorRecord=ancestor store=store}}
{{/each}}
</table>
{{/if}}