<div class="row">
    <section class="columns large-6">
        <h3>Logged in user</h3>

        <dl>
            <dt>Name</dt>
            <dd>{{model.name}}</dd>
        </dl>

        <dl>
            <dt>Email</dt>
            <dd>{{model.email}}</dd>
        </dl>

        <dl>
            <dt>ID</dt>
            <dd>{{model.id}}</dd>
        </dl>
    </section>

    <section class="columns large-6">
        <h3>Authorization</h3>

        <p>{{session.content.access_token}}</p>

        {{view 'qrcodejs' url=tokenQrUrl size=128}}
    </section>
</div>

{{outlet}}
