<h3>Boxes</h3>

<button {{action 'showCreateTopLevelBox'}}>{{fa-icon 'plus'}}</button>

{{#if qrEntity}}
<nav class="qr">{{view 'entity-qr' models=qrModels entity=qrEntity size=200}}</nav>
{{/if}}

<ul>
    {{#each box in model}}
    {{item-tree item=box count='item.count' class='box-entity' deleteAction='deleteBox' createAction='showCreateBox' action='selectBox' hoverAction='hoverBox'}}
    {{/each}}
</ul>

{{outlet}}

<div id="createBox" class="reveal-modal" data-reveal>
    <h2>Create box</h2>
    <form {{action 'createBox' on='submit'}}>
    <label for="name">Name:</label>
    {{input id='name' placeholder='Enter box name' value=name required='required'}}
    {{#if selectedBox}}
    <label for="parent">Parent:
        <div>{{selectedBox.name}}</div></label>
    {{/if}}
    <input type="submit" value="Create box">
    </form>

    <a class="close-reveal-modal">&#215;</a>
</div>
