<h2>Electronic part and project management</h2>

{{#if session.isAuthenticated}}
    <p class="alert-box alert">This is an unstable demo version. Expect possible data loss. No usage or backup guarantees.</p>

    <a {{ action 'invalidateSession' }}>Logout</a> |
    {{#link-to 'account'}}Account{{/link-to}} |
    {{#link-to 'boxes.index'}}Boxes{{/link-to}}
{{else}}
<div class="row">
    <section class="small-12 large-6 columns" id="login-form">
    <h2>Login</h2>
    <form {{action 'authenticate' on='submit'}}>
        <label for="identification">Email address</label>
        {{input type='email' id='identification' required='required' placeholder='Enter email address' value=identification}}
        <label for="password">Password</label>
        {{input id='password' placeholder='Enter Password' type='password' value=password}}
        <button type="submit">Login</button><button class="secondary" {{action 'reverify'}}>Reset password</button>
    </form>
    </section>

    <section class="small-12 large-6 columns" id="registration-form">
        <h2>Register</h2>
        <form {{action 'register' on='submit'}}>
            <label for="name">Name:</label>
            {{input id='name' placeholder='Enter your name' value=name required='required'}}
            <label for="email">Email:</label>
            {{input type='email' id='email' placeholder='Enter email address' value=email required='required'}}
            <button type="submit">Register</button>
        </form>
    </section>
</div>
{{/if}}

