<h2>Empty content</h2>

{{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }}>Logout</a> |
    {{#link-to 'account'}}Account{{/link-to}} |
    {{#link-to 'boxes.index'}}Boxes{{/link-to}} |
    {{#link-to 'groups.show' 'de305d54-75b4-431b-adb2-eb6b9e546013'}}Group de305d54-75b4-431b-adb2-eb6b9e546013{{/link-to}} |
    {{#link-to 'lots.show' 'de305d54-75b4-431b-adb2-eb6b9e546013'}}Lots de305d54-75b4-431b-adb2-eb6b9e546013{{/link-to}}
{{else}}
    <section id="login-form">
    <h2>Login</h2>
    <form {{action 'authenticate' on='submit'}}>
        <label for="identification">Email address</label>
        {{input type='email' id='identification' placeholder='Enter email address' value=identification}}
        <label for="password">Password</label>
        {{input id='password' placeholder='Enter Password' type='password' value=password}}
        <button type="submit">Login</button>
    </form>
    </section>

    <section id="registration-form">
        <h2>Register</h2>
        <form {{action 'register' on='submit'}}>
            <label for="name">Name:</label>
            {{input id='name' placeholder='Enter your name' value=name required='required'}}
            <label for="email">Email:</label>
            {{input type='email' id='email' placeholder='Enter email address' value=email required='required'}}
            <button type="submit">Register</button>
        </form>
    </section>
{{/if}}

