{{#if editing}}
{{input type='text' value=(mut value) class='lotCount'}}
<button class="primary button" {{action 'saveEdit'}}>save</button>
<button class="button secondary" {{action 'cancelEdit'}}>cancel</button>
{{else}}
<button class="button {{ button-class }}" {{action 'startEdit'}}>{{yield}}</button>
{{/if}}
