<div class="group-detail columns small-12 large-8">
    {{partial '_itemheader'}}

<h3>Types</h3>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>Name {{sort-link action='sortBy' field='name'}}</th>
        <th>Vendor {{sort-link action='sortBy' field='vendor'}}</th>
        <th>Footprint {{sort-link action='sortBy' field='footprint'}}</th>
        <th>Available {{sort-link action='sortBy' field='available'}}</th>
        {{#each property in model.showProperties}}
            <th>{{property.name}} [{{property.unit.symbol}}] {{sort-link action='sortByProperty' field=property}}</th>
        {{/each}}
    </tr>
    </thead>
{{#each type in sortedTypes}}
    <tbody>
    <tr>
        <td>{{#draggable-item content=type.id}}{{type.name}}{{/draggable-item}}</td>
        <td>{{type.vendor}}</td>
        <td>{{#link-to 'footprints.show' type.footprint}}{{type.footprint.name}}{{/link-to}}</td>
        <td>{{#link-to 'types.show' type}}{{type.available}}{{/link-to}}</td>
        {{#each property in model.showProperties}}
            <td>{{property-value entity=type property=property}}</td>
        {{/each}}
    </tr>
    <tr>
        <td {{bind-attr colspan=typeColumns}}>{{type.summary}}</td>
    </tr>
    </tbody>
{{/each}}
</table>

    <h3>Additional properties to display</h3>

    <ul>
        {{#each property in model.showProperties}}
        <li>
            {{#link-to 'properties.show' property}}{{property.niceName}}{{/link-to}}
            {{#if manageProperties}}{{#confirm-button class='button remove' action='removeProperty' param=model param2=property}}{{fa-icon 'times'}} remove{{/confirm-button}}{{/if}}
        </li>
        {{/each}}
    </ul>

    {{#if manageProperties}}
    {{ember-selectize
    content=sortedProperties
    maxItems=1
    optionValuePath="content.id"
    optionLabelPath="content.niceName"
    selection=propertyToAdd
    placeholder="Select a property" }}
    <button {{action 'addProperty' model propertyToAdd}}>{{fa-icon 'plus'}} Add property</button>
    <button class='secondary' {{action 'manageProperties' false}}>{{fa-icon 'times'}} Hide</button>
    {{else}}
        <button class='secondary' {{action 'manageProperties' true}}>{{fa-icon 'bar-chart'}} Manage properties</button>
    {{/if}}
</div>