<div class="group-detail">
<h2>Group {{name}} / id {{id}}</h2>

<table>
{{#each type in types}}
    <tr>
        <td>{{type.name}}</td>
        <td>{{type.vendor}}</td>
        <td>{{type.footprint.name}}</td>
    </tr>
{{/each}}
</table>

</div>