<div class="group-detail columns small-12 large-8">
<h2>{{#click-to-edit content=model field='content.name'}}{{name}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}

<h3>Attachments</h3>

    <ul>
        {{#each doc in describedBy}}
        <li>{{#view 'entity-link' entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/view}}</li>
        {{/each}}
    </ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model}}

<h3>Types</h3>

<table style="width: 100%;">
{{#each type in types}}
    <tbody>
    <tr>
        <td>{{#draggable-item content=type.id}}{{type.name}}{{/draggable-item}}</td>
        <td>{{type.vendor}}</td>
        <td>{{#link-to 'footprints.show' type.footprint}}{{type.footprint.name}}{{/link-to}}</td>
        <td>{{#link-to 'types.show' type}}{{type.available}}{{/link-to}}</td>
    </tr>
    <tr>
        <td colspan="4">{{type.summary}}</td>
    </tr>
    </tbody>
{{/each}}
</table>
</div>