<div class="group-detail columns small-12 large-8">
    {{partial '_itemheader'}}

<h3>Additional properties to display</h3>

<ul class="small-block-grid-2 large-block-grid-6">
    {{#each property in model.showProperties}}
    <li>{{#confirm-button action='removeProperty' param=model param2=property}}{{property.niceName}}{{/confirm-button}}</li>
    {{/each}}
</ul>

{{ember-selectize
content=sortedProperties
optionValuePath="content.id"
optionLabelPath="content.niceName"
selection=propertyToAdd
placeholder="Select a property" }}
<button {{action 'addProperty' model propertyToAdd}}>{{fa-icon 'plus'}} Add</button>

<h3>Types</h3>

<table style="width: 100%;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Vendor</th>
        <th>Footprint</th>
        <th>Available</th>
        {{#each property in model.showProperties}}
            <th>{{property.name}} [{{property.unit.symbol}}]</th>
        {{/each}}
    </tr>
    </thead>
{{#each type in model.types}}
    <tbody>
    <tr>
        <td>{{#draggable-item content=type.id}}{{type.name}}{{/draggable-item}}</td>
        <td>{{type.vendor}}</td>
        <td>{{#link-to 'footprints.show' type.footprint}}{{type.footprint.name}}{{/link-to}}</td>
        <td>{{#link-to 'types.show' type}}{{type.available}}{{/link-to}}</td>
        {{#each property in model.showProperties}}
            <td>{{property-value entity=type property=property}}</td>
        {{/each}}
    </tr>
    <tr>
        <td {{bind-attr colspan=typeColumns}}>{{type.summary}}</td>
    </tr>
    </tbody>
{{/each}}
</table>
</div>