<div class="group-detail columns small-12 large-8">
<h2>{{name}}</h2>

<table>
{{#each type in types}}
    <tr>
        <td>{{type.name}}</td>
        <td>{{type.vendor}}</td>
        <td>{{type.footprint.name}}</td>
        <td>{{type.available}}</td>
    </tr>
{{/each}}
</table>
</div>