<div class="group-detail columns small-12 large-8">
<h2>{{#click-to-edit content=model field='content.name'}}{{name}}{{/click-to-edit}}</h2>

<table>
{{#each type in types}}
    <tr>
        <td>{{#draggable-item content=type.id}}{{type.name}}{{/draggable-item}}</td>
        <td>{{type.vendor}}</td>
        <td>{{type.footprint.name}}</td>
        <td>{{type.available}}</td>
    </tr>
{{/each}}
</table>
</div>