{{partial '_itemheader'}}

<h3>Symbol</h3>

{{#click-to-edit content=model field='content.symbol'}}{{model.symbol}}{{/click-to-edit}}

<h3>Unit</h3>

{{#click-to-select content=model field='content.unit' label='content.niceName' options=sortedUnits}}{{model.unit.niceName}}{{/click-to-select}}

<h3>Precision</h3>

{{#click-to-select content=model field='content.base' label='content.niceName' options=sortedPrefixes}}{{model.base.niceName}}{{/click-to-select}}

{{outlet}}

<nav class="actions">
    {{#if model.canBeDeleted}}{{#confirm-button action='deleteEntity' param=model class='alert button'}}{{fa-icon 'times'}} Delete{{/confirm-button}}{{/if}}
</nav>