<section class="columns large-8">
<h2>{{#click-to-edit content=model field='content.name'}}{{fullName}}{{/click-to-edit}}</h2>

<table>
{{#each lot in lots}}
    <tr {{action 'showQr' 'lots' lot on='mouseEnter'}}>
        <td>{{lot.type.name}}</td>
        <td>{{lot.type.vendor}}</td>
        <td>{{lot.type.footprint.name}}</td>
        <td>{{lot.count}}</td>
    </tr>
    <tr>
        <td colspan="4">{{lot.type.summary}}</td>
    </tr>
{{/each}}
</table>
</section>