<section class="columns large-8">
<h2>{{#click-to-edit content=model field='content.name'}}{{fullName}}{{/click-to-edit}}</h2>

<p>{{#click-to-editarea content=model field='content.summary'}}{{summary}}{{/click-to-editarea}}</p>

<h3>Description</h3>

{{#click-to-editarea content=model field='content.description'}}{{description}}{{/click-to-editarea}}

<h3>Attachments</h3>

<ul>
{{#each doc in describedBy}}
    <li>{{#view 'entity-link' entity=doc resource='download' models='documents'}}{{doc.name}} [download]{{/view}}</li>
{{/each}}
</ul>

{{save-from-web action='download' entity=model}}
{{upload-attachments entity=model}}

<table style="width: 100%;">
{{#each lot in lots}}
    <tr {{action 'showQr' 'lots' lot on='mouseEnter'}}>
        <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
        <td>{{lot.type.vendor}}</td>
        <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
        <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.count}}{{/link-to}}</td>
    </tr>
    <tr>
        <td colspan="4">{{lot.type.summary}}</td>
    </tr>
{{/each}}
</table>

<button {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>
</section>