<section class="columns large-8">
    {{partial '_itemheader'}}

<table style="width: 100%;">
{{#each lot in lots}}
    <tr {{action 'showQr' 'lots' lot on='mouseEnter'}}>
        <td>{{#link-to 'types.show' lot.type}}{{lot.type.name}}{{/link-to}}</td>
        <td>{{lot.type.vendor}}</td>
        <td>{{#link-to 'footprints.show' lot.type.footprint}}{{lot.type.footprint.name}}{{/link-to}}</td>
        <td>{{#link-to 'transactions.show' lot.purchase.transaction}}{{lot.count}}{{/link-to}}</td>
    </tr>
    <tr>
        <td colspan="4">{{lot.type.summary}}</td>
    </tr>
{{/each}}
</table>
</section>

<button class='qr-button' {{action 'addSticker' model}}>{{fa-icon 'qrcode'}} Add to sticker list</button>