<h3>{{name}}</h3>

<form {{action 'save' model on='submit'}}>
<label for="name">Name</label>
{{input type='text' value=(mut name) id='name' placeholder='name'}}

<div class="footprint-summary">
<dl>
    <dt>{{fa-icon 'fa-square'}} Pads</dt>
    <dd>{{input type='text' value=(mut pads) placeholder='pads'}}</dd>
</dl>
<dl>
    <dt>{{fa-icon 'fa-circle-o'}} Holes</dt>
    <dd>{{input type='text' value=(mut holes) placeholder='holes'}}</dd>
</dl>
<dl>
    <dt>{{fa-icon 'fa-circle'}} NPTH</dt>
    <dt>{{input type='text' value=(mut npth) placeholder='npth'}}</dt>
</dl>
<dl>
    <dt>{{fa-icon 'fa-bars'}} Pitch</dt>
    <dt>{{input type='text' value=(mut pitch) placeholder='pitch'}}</dt>
</dl>
</div>

<button type="submit">Save</button>
</form>

{{outlet}}
